In [28]:
#import pandas as pd
from pathlib import Path
import os
import csv 
import numpy as np

##Redoing with csv reader (vs. Pandas)

In [29]:
print(Path.cwd())

c:\Users\matth\OneDrive\ASU\Assignments\HWtwo\python-homework\PyBank

In [30]:
csvpath = Path("budget_data.csv")

In [5]:
records = []

In [46]:
with open(csvpath, 'r') as budget_file:
    csv_reader = csv.reader(budget_file, delimiter=',')
    csv_header = next(csv_reader)
    print(csv_header)

['Date', 'Profit/Losses']

In [7]:
print(type(bff))

<class '_io.TextIOWrapper'>

In [24]:
#Total number of months included in the dataset:
print("Total no. of months: %d"%((csv_reader.line_num)-1))

Total no. of months: 86

In [71]:
#Net total amount of Profit/Losses over the entire period.
tpl=int(bd.sum())
print("Total sum of profits and losses:",tpl)
print(type(tpl))

Total sum of profits and losses: 38382578
<class 'int'>

In [36]:
avch=bd.pct_change()
print(avch)

                PL
Date
Jan-2010       NaN
Feb-2010  0.134547
Mar-2010 -0.672969
Apr-2010 -1.215572
May-2010 -5.473011
...            ...
Oct-2016 -0.866374
Nov-2016  6.751025
Dec-2016 -0.923374
Jan-2017  1.266511
Feb-2017  3.854945

[86 rows x 1 columns]

In [19]:
bd.dtypes

PL    int64
dtype: object

In [82]:
bd.describe

<bound method NDFrame.describe of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [83]:
bd.shape

(86, 2)

In [80]:
bd.describe

<bound method NDFrame.describe of           Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]>

In [76]:
avc=bd.diff(axis='rows', periods=-1)
print("The average change in Profit/Loss is $",avc.mean(axis='rows'))

The average change in Profit/Loss is $ Profit/Losses    2315.117647
dtype: float64

In [109]:
bd.max(axis='rows')

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [104]:
bd.iloc[77:83]

        Date  Profit/Losses
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914

In [101]:
print(bd.all)

<bound method NDFrame._add_numeric_operations.<locals>.all of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>