In [58]:
import pandas as pd
from pathlib import Path
import os
import csv

In [59]:
csvpath = Path("budget_data.csv")

In [60]:
pd.read_csv("budget_data.csv")

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [61]:
records = []

In [62]:
with open(csvpath, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')

In [63]:
csvreader

In [64]:
print(csvreader)

<_csv.reader object at 0x000001ABBBFF3580>

In [65]:
csvheader = next(csvreader)
print(csvheader)

ValueError: I/O operation on closed file.

In [2]:
import pandas as pd
from pathlib import Path
import os
import csv
csvpath = Path("budget_data.csv")
bd = pd.read_csv("budget_data.csv")
#records = []
#csvpath = Path("budget_data.csv")
#with open(csvpath, 'r') as csvfile:
#    csvreader = csv.reader(csvfile, delimiter=',')
#csv_header = next(csvfile)
print(bd)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [5]:
bd.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [7]:
bd.head

<bound method NDFrame.head of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [8]:
bd.set_index("Date", inplace=True)

In [9]:
bd.head

<bound method NDFrame.head of           Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]>

In [15]:
#Total number of months included in the dataset:
print("Total number of months:",bd.count())

Total number of months: Profit/Losses    86
dtype: int64

In [16]:
bd.head

<bound method NDFrame.head of           Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]>

In [23]:
bd.columns=["PL"]
bd.head

<bound method NDFrame.head of               PL
Date
Jan-2010  867884
Feb-2010  984655
Mar-2010  322013
Apr-2010  -69417
May-2010  310503
...          ...
Oct-2016  102685
Nov-2016  795914
Dec-2016   60988
Jan-2017  138230
Feb-2017  671099

[86 rows x 1 columns]>

In [28]:
#Net total amount of Profit/Losses over the entire period.
tpl=int(bd.sum())
print("Total sum of profits and losses:",tpl)

Total sum of profits and losses: 38382578