In [28]:
#import pandas as pd
from pathlib import Path
import os
import csv 
import numpy as np

##Redoing with csv reader (vs. Pandas)

In [29]:
print(Path.cwd())

c:\Users\matth\OneDrive\ASU\Assignments\HWtwo\python-homework\PyBank

In [30]:
csvpath = Path("budget_data.csv")

In [5]:
records = []

In [74]:
PL = []

In [96]:
with open(csvpath, 'r') as budget_file:
    csv_reader = csv.reader(budget_file, delimiter=',')
    csv_header = next(csv_reader)
    print(csv_header)
    PL = []
    for column in csv_reader:
        PL.append(int(column[1]))
#        print(column[1])
    print(type(budget_file))
    print (PL)

['Date', 'Profit/Losses']
<class '_io.TextIOWrapper'>
[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [98]:
print(type(PL))

<class 'list'>

In [47]:
print(type(budget_file))

<class '_io.TextIOWrapper'>

In [102]:
PL[5]

522857

In [103]:
print(len(PL))

86

In [108]:
#Total number of months included in the dataset:
print("Total no. of months included in the data set: %d"%((csv_reader.line_num)-1))

Total no. of months included in the data set: 86

In [107]:
#Net total amount of Profit/Losses over the entire period.
profit = 0
for profits in PL:
    profit += profits

print(f"Net total amount of Profit/Losses over the entire period = ${profit}")

Net total amount of Profit/Losses over the entire period = $38382578

In [36]:
avch=bd.pct_change()
print(avch)

                PL
Date
Jan-2010       NaN
Feb-2010  0.134547
Mar-2010 -0.672969
Apr-2010 -1.215572
May-2010 -5.473011
...            ...
Oct-2016 -0.866374
Nov-2016  6.751025
Dec-2016 -0.923374
Jan-2017  1.266511
Feb-2017  3.854945

[86 rows x 1 columns]

In [19]:
bd.dtypes

PL    int64
dtype: object

In [82]:
bd.describe

<bound method NDFrame.describe of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [83]:
bd.shape

(86, 2)

In [80]:
bd.describe

<bound method NDFrame.describe of           Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]>

In [76]:
avc=bd.diff(axis='rows', periods=-1)
print("The average change in Profit/Loss is $",avc.mean(axis='rows'))

The average change in Profit/Loss is $ Profit/Losses    2315.117647
dtype: float64

In [109]:
bd.max(axis='rows')

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [104]:
bd.iloc[77:83]

        Date  Profit/Losses
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914

In [101]:
print(bd.all)

<bound method NDFrame._add_numeric_operations.<locals>.all of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>