In [1]:
#import pandas as pd
from pathlib import Path
import os
import csv 
import numpy as np

##Redoing with csv reader (vs. Pandas)

In [2]:
print(Path.cwd())

c:\Users\matth\OneDrive\ASU\Assignments\HWtwo\python-homework\PyBank

In [3]:
csvpath = Path("budget_data.csv")

In [ ]:
#pd.read_csv("budget_data.csv")

In [4]:
records = []

In [5]:
with open(csvpath, 'r') as bff:
    csvreader = csv.reader(bff, delimiter=',')
    for row in csvreader:
        print(row)

['Date', 'Profit/Losses']
['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']

In [46]:
print(type(csvfile))

<class '_io.TextIOWrapper'>

In [9]:
#Total number of months included in the dataset:
print("Total no. of months: %d"%((csvreader.line_num)-1))

Total no. of months: 86

In [71]:
#Net total amount of Profit/Losses over the entire period.
tpl=int(bd.sum())
print("Total sum of profits and losses:",tpl)
print(type(tpl))

Total sum of profits and losses: 38382578
<class 'int'>

In [36]:
avch=bd.pct_change()
print(avch)

                PL
Date
Jan-2010       NaN
Feb-2010  0.134547
Mar-2010 -0.672969
Apr-2010 -1.215572
May-2010 -5.473011
...            ...
Oct-2016 -0.866374
Nov-2016  6.751025
Dec-2016 -0.923374
Jan-2017  1.266511
Feb-2017  3.854945

[86 rows x 1 columns]

In [19]:
bd.dtypes

PL    int64
dtype: object

In [82]:
bd.describe

<bound method NDFrame.describe of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [83]:
bd.shape

(86, 2)

In [80]:
bd.describe

<bound method NDFrame.describe of           Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]>

In [76]:
avc=bd.diff(axis='rows', periods=-1)
print("The average change in Profit/Loss is $",avc.mean(axis='rows'))

The average change in Profit/Loss is $ Profit/Losses    2315.117647
dtype: float64

In [109]:
bd.max(axis='rows')

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [104]:
bd.iloc[77:83]

        Date  Profit/Losses
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914

In [101]:
print(bd.all)

<bound method NDFrame._add_numeric_operations.<locals>.all of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>