In [62]:
import pandas as pd
from pathlib import Path
import os
import csv 
import numpy as np

In [63]:
csvpath = Path("budget_data.csv")

In [64]:
pd.read_csv("budget_data.csv")

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [65]:
with open(csvpath, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')

In [6]:
print(csvreader)

<_csv.reader object at 0x000002651EE1D5E0>

In [81]:
import pandas as pd
from pathlib import Path
import os
import csv
csvpath = Path("budget_data.csv")
bd = pd.read_csv("budget_data.csv")
#records = []
#csvpath = Path("budget_data.csv")
#with open(csvpath, 'r') as csvfile:
#    csvreader = csv.reader(csvfile, delimiter=',')
#csv_header = next(csvfile)
print(bd)
print(type(bd))

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [67]:
bd.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [68]:
bd.head(3)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013

In [70]:
bd.set_index("Date", inplace=True)

In [11]:
bd.head

<bound method NDFrame.head of           Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]>

In [12]:
#Total number of months included in the dataset:
print("Total number of months:",bd.count())

Total number of months: Profit/Losses    86
dtype: int64

In [13]:
bd.head

<bound method NDFrame.head of           Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]>

In [17]:
bd.columns=["PL"]
bd.head

<bound method NDFrame.head of               PL
Date
Jan-2010  867884
Feb-2010  984655
Mar-2010  322013
Apr-2010  -69417
May-2010  310503
...          ...
Oct-2016  102685
Nov-2016  795914
Dec-2016   60988
Jan-2017  138230
Feb-2017  671099

[86 rows x 1 columns]>

In [71]:
#Net total amount of Profit/Losses over the entire period.
tpl=int(bd.sum())
print("Total sum of profits and losses:",tpl)
print(type(tpl))

Total sum of profits and losses: 38382578
<class 'int'>

In [36]:
avch=bd.pct_change()
print(avch)

                PL
Date
Jan-2010       NaN
Feb-2010  0.134547
Mar-2010 -0.672969
Apr-2010 -1.215572
May-2010 -5.473011
...            ...
Oct-2016 -0.866374
Nov-2016  6.751025
Dec-2016 -0.923374
Jan-2017  1.266511
Feb-2017  3.854945

[86 rows x 1 columns]

In [19]:
bd.dtypes

PL    int64
dtype: object

In [82]:
bd.describe

<bound method NDFrame.describe of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [83]:
bd.shape

(86, 2)

In [80]:
bd.describe

<bound method NDFrame.describe of           Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]>

In [76]:
avc=bd.diff(axis='rows', periods=-1)
print("The average change in Profit/Loss is $",avc.mean(axis='rows'))

The average change in Profit/Loss is $ Profit/Losses    2315.117647
dtype: float64

In [109]:
bd.max(axis='rows')

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [104]:
bd.iloc[77:83]

        Date  Profit/Losses
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914

In [101]:
print(bd.all)

<bound method NDFrame._add_numeric_operations.<locals>.all of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>